# Include the license and readme files
include LICENSE.txt
include README.rst
include requirements.txt

# Include the data files, examples and docs
include t_student_table
include unit_tests *.py

# Exclude other directories and files
exclude inst_files.txt
recursive-exclude venv *
recursive-exclude dist *
recursive-exclude build *
recursive-exclude * __pycache__
recursive-exclude gnss_timeseries.egg.info *